{% extends "base.html.twig" %}
{% block body %}
<div class="row">
    <div class="col-md-5 offset-3">
        <form autocomplete="off" method="post" id="form" action="{{path('nouvelleCaisseB')}}">
            <div class="form-group">
                <label for="id_debit">Nom de la caisse</label>
                <input type="text" name="nom" class="form-control" id="nom" >
                <div class="validate"></div>
            </div>
            <div class="form-group">
                <label for="credit">Code</label>
                <input type="text" name="code" class="form-control" id="code" required>
                <div class="validate"></div>
            </div>
        
            <div class="loading"></div>
            <div class="error-message"></div>
            <div class="message"></div>
        
            <button type="submit" class="btn btn-primary">Créer la caisse</button>
            <button type="reset" class="btn btn-danger" >Annuler</button>
        </form>

    </div>
</div>


{% endblock body %}