{% extends "base.html.twig" %}
{% block body %}

<div class="container offset-1">
	<div class="row container">
		<div class="col-md-12">
			<button class="btn btn-primary" data-toggle="modal" data-target="#client"><i class="ti-plus"></i></button>
			<table class="table table-bordered table-responsible">
				<thead>
					<tr>
						<th>#</th>
						<th>Nom</th>
						<th>Contact</th>
					</tr>
				</thead>
				<tbody>
					{% if client %}
					<tr>
						<td>{{client.id}}</td>
						<td>{{client.nom}}</td>
						<td>{{client.contact}}</td>
					</tr>
					{% else %}
						<tr>
							<td colspan="3">Aucun ...</td>
						</tr>
					{% endif %}
					
	
				</tbody>
			</table>
		</div>
		{# end col #}
	</div>
	{# end row #}

</div>
{% endblock %}