{% extends "base.html.twig" %}
{% block body %}

<div class="row">
    <div class="col-md-8 offset-1">
        <br>
        <a class=" btn btn-primary" href="{{path('nouveauCompte')}}">Nouvelle Inscription</a>
        <br><br>
        <table class="table">
            <tr>
                <th>Nom</th>
                <th>Contact</th>
                <th>Adresse</th>
            </tr>
            {% for row in comptes %}
            <tr>
                <td>{{row.membre.nom}}</td>
                <td>{{row.membre.contact}}</td>
                <td>{{row.membre.adresse}}</td>
            </tr>
                
            {% else %}
            <tr>
                <td colspan="3">La lite est vide ...</td>
            </tr> 
            {% endfor %}
        </table>
    </div>
</div>


{% endblock body %}