{% block body %}
<div class="container">
    <h1>Liste des comptes bancaires</h1>
    <button class="btn btn-primary" data-toggle="modal" data-target="#compte"><i class="ti-plus"></i></button>
    <table class="table table-bordered">
        <thead>
            <th>#</th>
            <th>Num compte</th>
            <th>Solde</th>
            <th>Client</th>
        </thead>
    
        <tbody>
            <td>1</td>
            <td>654-543-123</td>
            <td>0 FCFA</td>
            <td>Akono Bertrant</td>
        </tbody>
    </table>
</div>
{% endblock %}
